In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
os.chdir('D:/JanataHack')

In [3]:
df = pd.read_csv("traindata.csv")

In [4]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment_next_month
0,25150,360000,2,2,2,25,-1,-1,-1,-1,...,3435,8870,2020,12590,3479,3446,8870,2020,27043,0
1,13470,240000,2,1,2,46,2,2,-2,-1,...,2240,1681,2267,0,0,2240,0,2267,3074,0
2,3092,320000,2,2,1,41,0,0,0,0,...,35409,35036,35939,5000,2000,2000,3000,3000,1500,0
3,13973,50000,2,2,2,24,-1,-1,-2,-2,...,0,0,0,0,0,0,0,0,0,1
4,10567,80000,1,3,1,52,-1,0,0,0,...,20561,21261,21457,1500,1500,1500,1028,876,1449,0

In [5]:
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default_payment_next_month'],
      dtype='object')

In [6]:
df.shape

(21000, 25)

In [7]:
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [8]:
df.dtypes

ID                            int64
LIMIT_BAL                     int64
SEX                           int64
EDUCATION                     int64
MARRIAGE                      int64
AGE                           int64
PAY_0                         int64
PAY_2                         int64
PAY_3                         int64
PAY_4                         int64
PAY_5                         int64
PAY_6                         int64
BILL_AMT1                     int64
BILL_AMT2                     int64
BILL_AMT3                     int64
BILL_AMT4                     int64
BILL_AMT5                     int64
BILL_AMT6                     int64
PAY_AMT1                      int64
PAY_AMT2                      int64
PAY_AMT3                      int64
PAY_AMT4                      int64
PAY_AMT5                      int64
PAY_AMT6                      int64
default_payment_next_month    int64
dtype: object

In [9]:
df['default_payment_next_month'].value_counts()

0    16355
1     4645
Name: default_payment_next_month, dtype: int64

In [10]:
df['default_payment_next_month'].value_counts()/len(df)

0    0.77881
1    0.22119
Name: default_payment_next_month, dtype: float64

In [11]:
df.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default_payment_next_month    0
dtype: int64

In [12]:
list = df[df.columns].corr()['default_payment_next_month'][:]

In [13]:
list

ID                           -0.016701
LIMIT_BAL                    -0.159163
SEX                          -0.037634
EDUCATION                     0.021347
MARRIAGE                     -0.016888
AGE                           0.006664
PAY_0                         0.325851
PAY_2                         0.263546
PAY_3                         0.235930
PAY_4                         0.220079
PAY_5                         0.208783
PAY_6                         0.188985
BILL_AMT1                    -0.028493
BILL_AMT2                    -0.022796
BILL_AMT3                    -0.022824
BILL_AMT4                    -0.020185
BILL_AMT5                    -0.015790
BILL_AMT6                    -0.015480
PAY_AMT1                     -0.076042
PAY_AMT2                     -0.059409
PAY_AMT3                     -0.067720
PAY_AMT4                     -0.059574
PAY_AMT5                     -0.063666
PAY_AMT6                     -0.061206
default_payment_next_month    1.000000
Name: default_payment_next_month, dtype: float64

In [14]:
df['SEX'].value_counts()

2    12759
1     8241
Name: SEX, dtype: int64

In [15]:
df.shape

(21000, 25)

In [16]:
listc = []
for i in range (len(list)):
    if list[i] < 0.02 and list[i] > (-0.02):
        listc.append(list.index[i])

In [17]:
listc

['ID', 'MARRIAGE', 'AGE', 'BILL_AMT5', 'BILL_AMT6']

In [18]:
for i in range(len(listc)):
    del df['{}'.format(listc[i])]

In [19]:
df[df.columns].corr()['default_payment_next_month'][:]

LIMIT_BAL                    -0.159163
SEX                          -0.037634
EDUCATION                     0.021347
PAY_0                         0.325851
PAY_2                         0.263546
PAY_3                         0.235930
PAY_4                         0.220079
PAY_5                         0.208783
PAY_6                         0.188985
BILL_AMT1                    -0.028493
BILL_AMT2                    -0.022796
BILL_AMT3                    -0.022824
BILL_AMT4                    -0.020185
PAY_AMT1                     -0.076042
PAY_AMT2                     -0.059409
PAY_AMT3                     -0.067720
PAY_AMT4                     -0.059574
PAY_AMT5                     -0.063666
PAY_AMT6                     -0.061206
default_payment_next_month    1.000000
Name: default_payment_next_month, dtype: float64

In [20]:
df.shape

(21000, 20)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21000 entries, 0 to 20999
Data columns (total 20 columns):
LIMIT_BAL                     21000 non-null int64
SEX                           21000 non-null int64
EDUCATION                     21000 non-null int64
PAY_0                         21000 non-null int64
PAY_2                         21000 non-null int64
PAY_3                         21000 non-null int64
PAY_4                         21000 non-null int64
PAY_5                         21000 non-null int64
PAY_6                         21000 non-null int64
BILL_AMT1                     21000 non-null int64
BILL_AMT2                     21000 non-null int64
BILL_AMT3                     21000 non-null int64
BILL_AMT4                     21000 non-null int64
PAY_AMT1                      21000 non-null int64
PAY_AMT2                      21000 non-null int64
PAY_AMT3                      21000 non-null int64
PAY_AMT4                      21000 non-null int64
PAY_AMT5                      21000 non-null int64
PAY_AMT6                      21000 non-null int64
default_payment_next_month    21000 non-null int64
dtypes: int64(20)
memory usage: 3.2 MB

In [22]:
bysex = df.groupby('SEX')
df['default_payment_next_month'].value_counts()

0    16355
1     4645
Name: default_payment_next_month, dtype: int64

In [23]:
df['SEX'].value_counts()

2    12759
1     8241
Name: SEX, dtype: int64

In [24]:
df['SEX'].value_counts()/len(df)

2    0.607571
1    0.392429
Name: SEX, dtype: float64

In [25]:
df.describe()

,LIMIT_BAL,SEX,EDUCATION,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default_payment_next_month
count,21000.000000,21000.000000,21000.000000,21000.00000,21000.000000,21000.000000,21000.00000,21000.000000,21000.000000,21000.000000,21000.000000,2.100000e+04,21000.000000,21000.000000,2.100000e+04,21000.000000,21000.000000,21000.000000,21000.000000,21000.000000
mean,167214.746667,1.607571,1.854190,-0.01119,-0.127238,-0.164857,-0.21819,-0.260952,-0.288667,51501.542381,49463.502667,4.723258e+04,43387.372476,5686.349333,5.923003e+03,5202.325333,4793.172000,4797.012952,5211.736762,0.221190
std,128965.188482,0.488303,0.791628,1.12321,1.198957,1.198624,1.17221,1.141454,1.151592,73453.641859,70866.586004,6.953988e+04,64081.073110,16868.075695,2.390953e+04,17006.416467,15467.403159,15270.031988,17698.795697,0.415058
min,10000.000000,1.000000,0.000000,-2.00000,-2.000000,-2.000000,-2.00000,-2.000000,-2.000000,-14386.000000,-69777.000000,-1.572640e+05,-170000.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50000.000000,1.000000,1.000000,-1.00000,-1.000000,-1.000000,-1.00000,-1.000000,-1.000000,3564.750000,3000.000000,2.686250e+03,2332.000000,998.250000,8.360000e+02,390.000000,284.000000,241.000000,102.000000,0.000000
50%,140000.000000,2.000000,2.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,22578.000000,21550.000000,2.024200e+04,19158.500000,2100.000000,2.011000e+03,1811.500000,1500.000000,1500.000000,1500.000000,0.000000
75%,240000.000000,2.000000,2.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,67876.250000,64918.250000,6.082675e+04,55376.750000,5023.250000,5.000000e+03,4500.000000,4002.250000,4051.000000,4000.000000,0.000000
max,800000.000000,2.000000,6.000000,8.00000,8.000000,8.000000,8.00000,8.000000,8.000000,746814.000000,743970.000000,1.664089e+06,706864.000000,873552.000000,1.684259e+06,889043.000000,621000.000000,417990.000000,528666.000000,1.000000

In [26]:
df.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4',
       'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
       'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default_payment_next_month'],
      dtype='object')

In [27]:
df.shape

(21000, 20)

In [28]:
X = df.iloc[:,0:19].values

In [29]:
X

array([[360000,      2,      2, ...,   8870,   2020,  27043],
       [240000,      2,      1, ...,      0,   2267,   3074],
       [320000,      2,      2, ...,   3000,   3000,   1500],
       ...,
       [100000,      1,      1, ...,   6000,   3000,      0],
       [ 90000,      2,      2, ...,   2000,   2000,   2000],
       [ 90000,      1,      3, ...,      0,      0,      0]], dtype=int64)

In [30]:
c = pd.DataFrame(X)

In [31]:
y = df.iloc[:,19].values

In [32]:
X.shape

(21000, 19)

In [33]:
y.shape

(21000,)

In [34]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [35]:
X.shape

(21000, 19)

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=666)

In [37]:
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [38]:
y_pred = logmodel.predict(X_test)

In [39]:
y_pred.shape

(6300,)

In [40]:
confusion_matrix(y_test, y_pred)

array([[4807,  125],
       [1026,  342]], dtype=int64)

In [41]:
from sklearn.metrics import accuracy_score

In [42]:
accuracy_score(y_test, y_pred)

0.8173015873015873

In [43]:
testdata = pd.read_csv('testdata.csv')

In [44]:
testdata.shape

(9000, 24)

In [45]:
testdata.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6'],
      dtype='object')

In [46]:
testdata.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6'],
      dtype='object')

In [47]:
df.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4',
       'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
       'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default_payment_next_month'],
      dtype='object')

In [48]:
df.shape

(21000, 20)

In [49]:
testdata.shape

(9000, 24)

In [50]:
testdata.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6'],
      dtype='object')

In [51]:
test = pd.DataFrame()
test['LIMIT_BAL'] = testdata['LIMIT_BAL']
test['SEX'] = testdata['SEX']
test['EDUCATION'] = testdata['EDUCATION']
test['PAY_0'] = testdata['PAY_0']
test['PAY_2'] = testdata['PAY_2']
test['PAY_3'] = testdata['PAY_3']
test['PAY_4'] = testdata['PAY_4']
test['PAY_5'] = testdata['PAY_5']
test['PAY_6'] = testdata['PAY_6']
test['BILL_AMT1'] = testdata['BILL_AMT1']
test['BILL_AMT2'] = testdata['BILL_AMT2']
test['BILL_AMT3'] = testdata['BILL_AMT3']
test['BILL_AMT4'] = testdata['BILL_AMT4']
test['PAY_AMT1'] = testdata['PAY_AMT1']
test['PAY_AMT2'] = testdata['PAY_AMT2']
test['PAY_AMT3'] = testdata['PAY_AMT3']
test['PAY_AMT4'] = testdata['PAY_AMT4']
test['PAY_AMT5'] = testdata['PAY_AMT5']
test['PAY_AMT6'] = testdata['PAY_AMT6']

In [52]:
test.shape

(9000, 19)

In [53]:
test.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4',
       'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
       'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6'],
      dtype='object')

In [54]:
df.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4',
       'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4',
       'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default_payment_next_month'],
      dtype='object')

In [55]:
prediction = logmodel.predict(test)

In [56]:
prediction

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [57]:
testdata['default_payment_next_month'] = prediction

In [59]:
sublog = testdata[['ID', 'default_payment_next_month']]

In [62]:
sublog['default_payment_next_month'].value_counts()

0    8994
1       6
Name: default_payment_next_month, dtype: int64

In [63]:
sublog.shape

(9000, 2)

In [64]:
sublog.to_csv('Log.csv', index = None)

In [65]:
os.listdir()

['Log.csv', 'sample_submission_gm6gE0l.csv', 'testdata.csv', 'traindata.csv']

In [181]:
from sklearn.ensemble import  RandomForestClassifier
random = RandomForestClassifier(n_estimators = 75, max_features = 3, criterion = 'entropy', random_state = 1001,)

In [182]:
random.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=3, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=75,
                       n_jobs=None, oob_score=False, random_state=1001,
                       verbose=0, warm_start=False)

In [183]:
y_predran = random.predict(X_test)

In [184]:
accuracy_score(y_test, y_predran)

0.8182539682539682

In [185]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(estimator = random, X = X_train, y = y_train, cv=10)

In [186]:
scores.mean()

0.8082982488709908

In [202]:
predictionran = random.predict(test)

In [188]:
testdata['default_payment_next_month'] = predictionran

In [189]:
subran = testdata[['ID', 'default_payment_next_month']]

In [190]:
subran['default_payment_next_month'].value_counts()

0    8360
1     640
Name: default_payment_next_month, dtype: int64

In [191]:
subran.to_csv('randomforest.csv', index = None)

In [192]:
os.listdir()

['Log.csv',
 'randomforest.csv',
 'sample_submission_gm6gE0l.csv',
 'testdata.csv',
 'traindata.csv']

In [193]:
import xgboost as xgb
from xgboost.sklearn import XGBClassifier

In [327]:
modelxgb = XGBClassifier()
modelxgb.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [328]:
y_predboost = modelxgb.predict(X_test)

In [329]:
predictions = [np.round(value) for value in y_predboost]

In [330]:
accuracyboost = accuracy_score(y_test, predictions)

In [331]:
print("Accuracy: %.2f%%" % (accuracyboost * 100.0))

Accuracy: 82.49%

In [332]:
boost = modelxgb.predict(test)

ValueError: feature_names mismatch: ['f0', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10', 'f11', 'f12', 'f13', 'f14', 'f15', 'f16', 'f17', 'f18'] ['LIMIT_BAL', 'SEX', 'EDUCATION', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']
expected f10, f13, f1, f11, f8, f18, f17, f5, f14, f7, f0, f15, f6, f12, f3, f2, f4, f9, f16 in input data
training data did not have the following fields: BILL_AMT2, BILL_AMT1, PAY_6, BILL_AMT4, PAY_AMT3, PAY_5, LIMIT_BAL, PAY_AMT1, PAY_0, PAY_AMT5, BILL_AMT3, PAY_4, SEX, PAY_AMT4, PAY_AMT2, PAY_3, PAY_AMT6, PAY_2, EDUCATION

In [239]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(14700, 19) (6300, 19) (14700,) (6300,)

In [240]:
from keras.models import Sequential
from keras.layers import Activation, Dense
from keras import optimizers

Using TensorFlow backend.

In [313]:
model = Sequential()

In [314]:
model.add(Dense(10, input_shape = (19, )))
model.add(Activation('sigmoid'))
model.add(Dense(10))
model.add(Activation('sigmoid'))
model.add(Dense(10))
model.add(Activation('sigmoid'))
model.add(Dense(10))
model.add(Activation('sigmoid'))
model.add(Dense(1))
model.add(Activation('relu'))

In [315]:
sgd = optimizers.SGD(lr = 0.01)

In [316]:
model.compile(optimizer = sgd, loss = 'binary_crossentropy', metrics = ['accuracy'])

In [317]:
neural = model.fit(X_train, y_train, batch_size = 10, validation_split = 0.3, epochs = 10, verbose = 1)

Train on 10290 samples, validate on 4410 samples
Epoch 1/10
10290/10290 [==============================] - 2s 181us/step - loss: 3.4013 - accuracy: 0.7795 - val_loss: 3.5257 - val_accuracy: 0.7714
Epoch 2/10
10290/10290 [==============================] - 3s 252us/step - loss: 3.4013 - accuracy: 0.7795 - val_loss: 3.5257 - val_accuracy: 0.7714
Epoch 3/10
10290/10290 [==============================] - 3s 248us/step - loss: 3.4013 - accuracy: 0.7795 - val_loss: 3.5257 - val_accuracy: 0.7714
Epoch 4/10
10290/10290 [==============================] - 3s 249us/step - loss: 3.4013 - accuracy: 0.7795 - val_loss: 3.5257 - val_accuracy: 0.7714
Epoch 5/10
10290/10290 [==============================] - 3s 292us/step - loss: 3.4013 - accuracy: 0.7795 - val_loss: 3.5257 - val_accuracy: 0.7714
Epoch 6/10
10290/10290 [==============================] - 3s 252us/step - loss: 3.4013 - accuracy: 0.7795 - val_loss: 3.5257 - val_accuracy: 0.7714
Epoch 7/10
10290/10290 [==============================] - 2s 178us/step - loss: 3.4013 - accuracy: 0.7795 - val_loss: 3.5257 - val_accuracy: 0.7714
Epoch 8/10
10290/10290 [==============================] - 1s 139us/step - loss: 3.4013 - accuracy: 0.7795 - val_loss: 3.5257 - val_accuracy: 0.7714
Epoch 9/10
10290/10290 [==============================] - 2s 208us/step - loss: 3.4013 - accuracy: 0.7795 - val_loss: 3.5257 - val_accuracy: 0.7714
Epoch 10/10
10290/10290 [==============================] - 3s 273us/step - loss: 3.4013 - accuracy: 0.7795 - val_loss: 3.5257 - val_accuracy: 0.7714

In [318]:
results = model.evaluate(X_test, y_test)

6300/6300 [==============================] - 0s 24us/step

In [319]:
print(model.metrics_names)     # list of metric names the model is employing
print(results)

['loss', 'accuracy']
[3.349417375231546, 0.7828571200370789]

In [320]:
print('loss: ', results[0])
print('accuracy: ', results[1])

loss:  3.349417375231546
accuracy:  0.7828571200370789

In [321]:
ann = model.predict(test)

In [322]:
ann

array([[0.],
       [0.],
       [0.],
       ...,
       [0.],
       [0.],
       [0.]], dtype=float32)

In [323]:
testdata['default_payment_next_month'] = ann

In [324]:
subann = testdata[['ID', 'default_payment_next_month']]

In [325]:
subann['default_payment_next_month'].value_counts()

0.0    9000
Name: default_payment_next_month, dtype: int64

In [326]:
subann.to_csv('ann.csv', index = None)